* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #f3e6f8 0%, #fff0e5 100%);
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center; 
    padding: 24px 80px;
    min-height: calc(100vh - 100px); 
    gap: 50px;
}

/* Teks di kiri */
.header-text {
    display: flex;
    flex-direction: column; 
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    /* font-weight: 800;    */
    line-height: 1.2;
    color: #4a2c40;
}

/* Teks di kanan */
header div:last-child {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: 30rem;
}

/* Styling gambarnya biar nggak kaku */
header img {
    max-width: 100rem;
    max-height: 100%;
    height: auto;
    border-radius: 20px; /* Bikin ujungnya tumpul */
    box-shadow: 0 15px 35px rgba(0,0,0,0.1); /* Efek melayang */
}